.readMoreBtn {
  width: 200px;
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
  font-family: 'XfinityStandard', helvetica, arial, sans-serif;
  padding: 14px;
  margin: 2rem 2.5rem 0rem 1.8rem;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}

.readMoreBtn:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: rgba(255, 0, 0, 1);
  z-index: -1;
  transition: width 150ms ease-in-out;
}

.readMoreBtn:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 1);
}

.readMoreBtn:hover:after {
  width: 110%;
}
