.logo {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  place-content: center;
  color: white;
  z-index: 1;
  padding: 20px;
}

.logoIsh {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.logoIsh span {
  font-size: 2.5rem;
  background: red;
  padding: 5px 10px 5px 2px;
  display: inline-block;
  transform: skewX(-12deg);
}
