.listStyles {
  list-style: none;
  max-width: 1200px;
  margin: 10px auto;
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
}
